* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}
/* home.css */

body {
    margin: 0;
    background-color: #1a1a1a; /* Fundo escuro */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    width: 100vw;
    gap: 150px;
    margin-left: 300px;
}

.container .story{
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}


.container .story img{
    margin-bottom: 70px;
    margin-top: 100px;
    border-radius: 50%;
    border: 10px solid #e0b9f0;
    width: 400px;
    height: 400px;

}

header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}


.cabeça{
    width: 630px;
    height: 60px;
    margin-top: 30px;
}

.cabeça nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e0b9f0;
    padding: 10px 20px;
    border-radius: 50px;    
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.cabeça nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabeça img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px; 
    padding: 40px 20px;
    
}

.galeria div {
    background-color: #fff;
    width: 900px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    
}

.galeria img {
    width: 100%;
    height: auto;
}

.galeria p {
    padding: 15px;
    font-size: 20px;
    color: #333;
    text-align: left;
    box-sizing: border-box;
}

.galeria .icones{
    display: flex;
    height: 50px;
    width: 50px;
    margin-left: 1rem;
    gap: 30px;
}
.galeria .itens{
    display: flex;
    flex-direction: column;
}

.post-header {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    height: 60px;
}

.foto-perfil {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
    border: 1px solid #dbdbdb; 
}

.nome-usuario {
    font-weight: 600;
    font-size: 25px;
    color: #262626;
    flex-grow: 1;
    
}


.post {
    width: 500px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    margin-bottom: 24px;
    background: white;
}

.imagem-post {
    width: 100%;
    max-height: 585px;
    object-fit: cover;
}


.nome-container {
    flex-grow: 1;
    margin-left: 12px;
}

.post-menu {
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

.post .post-header {
    display: flex;
    flex-direction: row;
    border-radius: 8px 8px 0 0;
    height: 90px;
}

.post-footer .post-icones {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}

.post-icones img {
    height: 40px;
    width: auto;
    
}

.container h2{
    color: #e0b9f0;
    font-size: 70px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.modal-conteudo {
    max-width: 90%;
    max-height: 80%;
    display: block;
    margin: auto;
    border-radius: 15px;
}

.fechar {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.seta {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    user-select: none;
    transform: translateY(-50%);
    z-index: 1000;
}

.seta.esquerda {
    left: 10px;
}

.seta.direita {
    right: 10px;
}